<%= form_for @changeset, Routes.topic_path(@conn, :update, @topic), fn f -> %>
    <div class="form-group input-field" style="margin-top:3rem;">
        <i class="material-icons prefix">edit</i>
        <%= text_input f, :title, class: "form-control" %>
        <%= error_tag f, :title %>
        <label for="topic_title">Title</label>
    </div>

    <%= submit "Save Topic", class: "btn btn-primary right" %>
<% end %>
