<%= form_for @changeset, Routes.topic_path(@conn, :create), fn f -> %>
    <div class="form-group input-field">
        <i class="material-icons prefix">title</i>
        <%= text_input f, :title, class: "form-control" %>
        <%= error_tag f, :title %>
        <label for="topic_title">Title</label>
    </div>

    <%= submit "Save Topic", class: "btn btn-primary right" %>
<% end %>
